[submodule "Telco-Churn-Prediction"]
	path = Telco-Churn-Prediction
	url = https://github.com/barbyarik/Telco-Churn-Prediction.git

[submodule "Walmart-Sales-Forecasting"]
	path = Walmart-Sales-Forecasting
	url = https://github.com/barbyarik/Walmart-Sales-Forecasting.git
[submodule "Airy-solution-PINN"]
	path = Airy-solution-PINN
	url = https://github.com/barbyarik/Airy-solution-PINN.git
[submodule "Sentiment-Analysis"]
	path = Sentiment-Analysis
	url = https://github.com/barbyarik/Sentiment-Analysis.git
[submodule "Automatic-Number-Plate-Recognition"]
	path = Automatic-Number-Plate-Recognition
	url = https://github.com/barbyarik/Automatic-Number-Plate-Recognition.git
[submodule "Mayakovsky-Network"]
	path = Mayakovsky-Network
	url = https://github.com/barbyarik/Mayakovsky-Network.git
[submodule "Bicep-Curl-Counter"]
	path = Bicep-Curl-Counter
	url = https://github.com/barbyarik/Bicep-Curl-Counter.git
